/* defaults */
body {
	/*background: url('../images/retina_wood.png');*/
	padding: 0;
}
dl {
	font-size: 16px;
	margin: 0;
	line-height: 2;
}
dl dt, dl dd {
	display: inline-block;
}


/* general use */
.container-fluid {
	padding: 0;
}
.panel {
	background: none;
}
.panel-body {
	background: #fff;
}
.panel, .panel-body, .panel-heading {
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.page-title {
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,.15);
	font-size: 16px;
	/*font-variant: small-caps;*/
	font-weight: bold;
	margin: 0 0 5px;
	padding: 10px 15px;
}
.line-spacer {
	border-bottom: 3px solid #bbb;
	margin: 10px 0 0;
}
.arrow {
	margin: 0 auto;
	width: 50px;
}
.floating-shadow {
	position: relative;
}
.floating-shadow:before, .floating-shadow:after{
	position:absolute;
	content:"";
	bottom:12px;left:15px;top:80%;
	width:45%;
	background:#9B7468;
	z-index:-1;
	-webkit-box-shadow: 0 20px 15px #9B7468;
	-moz-box-shadow: 0 20px 15px #9B7468;
	box-shadow: 0 20px 15px #9B7468;
	-webkit-transform: rotate(-6deg);
	-moz-transform: rotate(-6deg);
	transform: rotate(-6deg);
}
.floating-shadow:after{
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	transform: rotate(6deg);
	right: 15px;left: auto;
}


/* header */
.titlebar {
	background-color: #fff;
	/*background: url('../images/geometry.png');*/
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.24);*/
	border-bottom: 1px solid #ddd;
	/*margin-bottom: 25px;*/
}
.main-titlebar {
	padding: 20px 0;
	text-align: left;
}
.main-titlebar img.brand-image {
	height: 40px;
	width: auto;
}

.main-titlebar, .main-content {
	margin: 0 auto;
	max-width: 900px;
}

.main-wrapper {
	/*padding: 0 25px;*/
}
.main-content {
	/*border: 1px solid red;*/
}




/* fuck this */
.kanji-panel {
	font-size: 17px;
	text-align: left;
}
.kanji-panel > .panel-heading {
	background: rgba(81, 81, 81, .7);
}
.kanji-panel > .panel-body {
	padding: 30px;
}

.kanji-panel .column1 {
	text-align: center;
}
.kanji-panel .kanji-print {
	font-size: 100px;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 10px;
}
.kanji-panel .strokes {
	font-size: 17px;
}
.kanji-panel .meaning {
	font-size: 28px;
	line-height: 1.3;
}
.kanji-panel .reading dd {
	font-size: 22px;
}
.kanji-panel .group {
	color: #fff;
	background: #666;
	border: none;
	border: 1px solid rgba(0,0,0,.05);
	border-bottom: 3px solid rgba(0,0,0,.1);
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	opacity: 1;
	padding: 3px 5px;
	width: 100%;
}

.kanji-panel .group.joyo {
	background: #50c842;
}
.kanji-panel .group.grade {
	background: #f39c12;
}
.kanji-panel .group.jlpt {
	background: #679dea;
}
.kanji-panel .group.genki {
	background: #c578eb;
}

.kanji-panel .title {
	color: #607f3a;
}
.kanji-panel ul {
	font-size: 16px;
	list-style-type: none;
	padding-left: 25px;

}
.kanji-panel li {
	line-height: 2;
}
.kanji-panel a {
	color: #333;
	/*text-decoration: underline;*/
}




/* Groups page */
.groups-page .group-name {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 15px;
}
.groups-page .group {
	margin-bottom: 10px;
}
.groups-page .pie-percent svg {
	height: auto;
	width: 100%;
}
.groups-page .pie-percent text {
	font-size: 40px;
	font-weight: 600;
}
.groups-page .pie-percent text tspan {
	font-size: 20px;
}



