/* defaults */
body {
	/*background: url('../images/retina_wood.png');*/
	font-family: 'Roboto',"Helvetica Neue",Helvetica,Arial,sans-serif;	/* localize roboto */
	padding: 0;
}
a {
	cursor: pointer;
}
dl {
	font-size: 16px;
	margin: 0;
	line-height: 2;
}
dl dt, dl dd {
	display: inline-block;
}


/* general use */
.container-fluid {
	padding: 0;
}
.panel 	{
	background: none;
}
.panel-body {
	background: #fff;
}
.panel, .panel-body, .panel-heading {
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.page-title {
	background: #f0f0f0;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 2px 0px rgba(0,0,0,.15);
	font-size: 16px;
	/*font-variant: small-caps;*/
	font-weight: bold;
	margin: 0 0 5px;
	padding: 10px 15px;
}
.line-spacer {
	border-bottom: 3px solid #ddd;
	margin: 10px 0 0;
}
.old, .old a {
	color: #777!important;
}


/* header */
.titlebar {
	background-color: #fff;
	/*background: url('../images/geometry.png');*/
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.24);*/
	border-bottom: 1px solid #ddd;
	/*margin-bottom: 25px;*/
}
.main-titlebar {
	padding: 20px 0;
	text-align: left;
}
.main-titlebar img.brand-image {
	height: 40px;
	width: auto;
}

.main-titlebar, .main-content {
	margin: 0 auto;
	max-width: 900px;
}

.main-wrapper {
	/*padding: 0 25px;*/
}
.main-content {
	/*border: 1px solid red;*/
}




/* fuck this */
.kanji-panel {
	font-size: 17px;
	text-align: left;
}
.kanji-panel > .panel-heading {
	background: rgba(81, 81, 81, .7);
}
.kanji-panel > .panel-body {
	padding: 30px;
}

.kanji-panel .column1 {
	text-align: center;
}
.kanji-panel .kanji-print {
	font-size: 100px;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 10px;
}
.kanji-panel .strokes {
	font-size: 17px;
}
.kanji-panel .meaning {
	font-size: 28px;
	line-height: 1.3;
}
.kanji-panel .reading dd {
	font-size: 22px;
}
.kanji-panel .group {
	color: #fff;
	background: #666;
	border: none;
	border: 1px solid rgba(0,0,0,.05);
	border-bottom: 3px solid rgba(0,0,0,.1);
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	opacity: 1;
	padding: 3px 5px;
	width: 100%;
}
.kanji-panel .group.joyo {
	background: #50c842;
}
.kanji-panel .group.grade {
	background: #f39c12;
}
.kanji-panel .group.jlpt {
	background: #679dea;
}
.kanji-panel .group.genki {
	background: #c578eb;
}

.kanji-panel .title {
	color: #607f3a;
}
.kanji-panel ul {
	font-size: 16px;
	list-style-type: none;
	padding-left: 25px;

}
.kanji-panel li {
	line-height: 2;
}
.kanji-panel a {
	color: #333;
	/*text-decoration: underline;*/
}




/* Groups page */
.groups-page .parent {
	margin-bottom: 15px;
}
.groups-page .group-name {
	font-size: 16px;
	font-weight: 600;
	padding: 10px 15px;
}
.groups-page .group {
	cursor: pointer;
	padding: 0 5px;
}
.groups-page .group.active > div, .groups-page .group:hover > div {
	border-color: #ddd;
}
.groups-page .group > div {
	border: 3px solid transparent;
	border-radius: 4px;
	padding: 0 15px 5px;
}
.groups-page .pie-percent svg {
	height: auto;
	width: 100%;
}
.groups-page .pie-percent text {
	font-size: 40px;
	font-weight: 600;
}
.groups-page .pie-percent text tspan {
	font-size: 20px;
}
.groups-page .pie-percent .filling, .groups-page .pie-percent .border, .groups-page .children .panel-heading li a {
	-webkit-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.groups-page .children {
	padding: 0 5px;
}
.groups-page .children .panel-heading {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	/*border-radius: 4px;*/
}
.groups-page .children .panel-heading li {
	padding: 0 5px;
}
.groups-page .children .panel-heading li.active a {
	background: #0087d2;
}
.groups-page .children .panel-body {
	background: repeating-linear-gradient(180deg, #fff, #fff 32px, #EDF9FF 32px, #EDF9FF 64px);
	border: 8px solid #ddd;
	border-radius: 4px;
	margin-top: 15px;
	padding: 0;
}
.groups-page .kanji-list {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 5px;
	width: 99%;
}
.groups-page .kanji-list:before,.groups-page .kanji-list:after{content:" ";display:table}
.groups-page .kanji-list:after{clear:both;}
.groups-page .kanji-list li {
	float: left;
	font-size: 22px;
	line-height: 32px;
	width: 32px;
}
.groups-page .kanji-list a {
	color: #333;
}




/* Default */
/*.groups-page .group:hover .border, .groups-page .group.active .border {stroke-width: 7;}*/
/* Green */
/*.groups-page .group.green.active .border {stroke: #4CAF50;}*/
.groups-page .group.green .filling {fill: #4CAF50;}
/*.groups-page .group.green:hover .filling {fill: #00C853;}*/
/*.groups-page .group.green:hover .border {stroke: #00C853;}*/
/* Blue */
/*.groups-page .group.blue.active .border {stroke: #3F51B5;}*/
.groups-page .group.blue .filling {fill: #3F51B5;}
/*.groups-page .group.blue:hover .filling {fill: #304FFE;}*/
/*.groups-page .group.blue:hover .border {stroke: #304FFE;}*/
/* Purple */
/*.groups-page .group.purple.active .border {stroke: #9C27B0;}*/
.groups-page .group.purple .filling {fill: #9C27B0;}
/*.groups-page .group.purple:hover .filling {fill: #AA00FF;}*/
/*.groups-page .group.purple:hover .border {stroke: #AA00FF;}*/
/* Orange */
/*.groups-page .group.orange.active .border {stroke: #FF9800;}*/
.groups-page .group.orange .filling {fill: #FF9800;}
/*.groups-page .group.orange:hover .filling {fill: #FF6D00;}*/
/*.groups-page .group.orange:hover .border {stroke: #FF6D00;}*/